/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}


img {
  max-width: 100%;
}

html {
  /* font-family: 'Source Sans 3', sans-serif; */
  font-family: Helvetica, sans-serif;
}

/* LAYOUT */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row>* {
  padding: 0 10px;
}

.col33 {
  width: calc(100%/3);
}


/* HEADER */
.page-header {
  background-color: #FF6900;
  color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 17px 24px;
  margin-bottom: 44px;
}

.logo {
  height: 35px;
  display: block;
  color: #E7E7E7;
}

.logo-wrapper {
  flex-shrink: 0;
}

.category {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  gap: 11px;
}

.header-icon {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}

/* GALLERY */
.container .row {
  align-items: center;
  justify-content: center;
}

.row.title {
  flex-direction: column;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
}

.section-subtitle {
  font-size: 20px;
  font-weight: 600;
}

.row.gallery {
  row-gap: 50px;
}

.card {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.info-item {
  border: 1px solid #E7E7E5;
  flex-grow: 1;
  padding: 14px 11px;
}


.marca {
  font-size: 15px;
  font-weight: 200;
}

.prodotto {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.price {
  font-size: 15px;
}

.price span:first-child {
  color: red;
  font-weight: bold;
}

.price span:nth-child(2) {
  text-decoration: line-through;
}